/* @override http://mark.reid.dev/css/screen.css */

/* screen.css
 *
 * A clean, simple stylesheet that aims for
 * a consistent vertical rhythm.
 *
 * Base font height: 16px
 * Base line lenght: 24px
 * 
 */

/* @group Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td,abbr { margin:0; padding:0;}
/* @end */

body {
	background: #fefef8;
	font-family: Palatino, georgia, "times new roman", serif;
}
/* A little hack to aid debugging the grid */

/*
body{
	background: url(grid) 0 0.5em;
}
*/


/* IE6 ignores this and uses default size of 16pt */
html>body { font-size:16px; }
p { margin:1.5em 0 0 0; text-align: justify; }

a { text-decoration: none; color: #339; }
a:hover { text-decoration: underline; color: #33f; }

h1,h2,h3,h4 { line-height:1em; font-size:1.5em; font-weight: bold; }
#post h1 {
	margin-bottom: 1em;
}
h2 {
	font-size: 100%;
	line-height: 1.5em;
	margin:1.5em 0 0 0;
	font-weight:bold;
}

hr { 
	border-top: 1px solid silver;
	border-bottom: none;
	padding: 0;
	margin: 1.46em 0 0 0;
}

/* @group Lists */
ul {
	margin-top: 1.5em;
	line-height: 1.5em;
	padding-left: 1.5em;
}
li {
	list-style-type: none;
	list-style-position: outside;
}
/* @end */

/* @group Code */
pre {
	line-height: 1.5em;	
	color: #111;
	border-left: 16px solid #ddd;
	border-right: 1px solid #ddd;
	margin: 1.5em 0 1.5em 0;
	padding: 0 0 0 1em;
	overflow: hidden;
}
pre:hover {
	border-right: none;
	overflow: visible;
}
code {
	font-size: 0.9em; /* Hack to make code look same size as body font */  
	line-height: 1.5em;
}
/* @end */

#site {
	max-width: 39em;;
	margin: 0 3em 3em 3em;
	line-height:1.5em;
}

#header, #header a { color: silver; }
#header .hover { color: #fefef8; }
#header:hover { color: black; }
#header:hover a { color: #339; }
#header:hover a:hover { color: #33f; text-decoration: none;}
#header:hover .hover { color: grey; }
#header {
	position: relative;
	font-variant: small-caps;
	line-height: 1em;
	margin-top: .5em;
	margin-bottom: 1.5em;
}
#header a:after {
	color: #fefef8;
	content: '.\00a0';
}
#header:hover a:after {
	color: grey;
	content: '.\00a0';
}
#header h1 {
	border-bottom: 1px solid silver;
	line-height: 0.96em;
	display: block;
	font-weight: normal;
}
#header p {  margin: 0; font-size: 75%; line-height: 2em ;}
#header p:first-line { font-variant: normal; }
#header p:first-letter { 
	font-size: 100%; 
	margin: 0; padding: 0; 
	line-height: 1em; 
	float: none; 
}

#header ul {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 100%;
	line-height: 1.74em;
	display: block;
	margin: 0;
	width: 50%;
	text-align: right;
}
#header ul li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: inline;
}

.footnotes { color: grey; }
.footnotes:hover { color: black; }
.footnotes ol li {
	list-style-type: decimal;
	list-style-position: inside;
	font-size: 75%;
	line-height: 1.5em;
}
.footnotes ol li > a { display: none; }

/* @group Sections */

.section { margin-top: 1.5em; }
.section h1 {
	max-width: 4.5em;
	font-size: 100%;
	font-style: italic;
	margin-top: 0;
	line-height: 1.5em;
}
.section p {
	max-width: 36em;
	margin: -1.5em 0 3em 6em;
}

/* @end */

/* @group Signature */
.signature { 
	margin-top: 3em; 
	position: relative;
}
.signature .author { 
	font-variant: small-caps; 
	font-style: normal; 
	color: black;
	display: block;
	margin-bottom: 1.5em;
}
.signature .date { 
	font-size: 87.5%;
	line-height: 1.5em;
	display: block; 
	font-variant: small-caps; 
	font-style: normal; 
	position: absolute;
	right: 0;
	top: 0;
}
.signature .location { 
	display: block; 
	font-size: 87.5%;
	line-height: 1.5em;
	position: absolute;
	right: 0;
	top: 1.5em;
}
/* @end */

#post #content {
	margin: 0 0 2em 0;
	padding: 0;
}

/* @group Disqus */
#disqus_thread {
	margin-top: 2.93em;
	border-top: 1px solid silver;
}
.dsq-comment-body {
	text-align: justify;
	line-height: 1.29em;
}
.dsq-comment {
	padding-top: 0 !important;
	margin-bottom: 1.5em !important;
	background-image: none !important;
}
.dsq-comment-header {
	background-color: whitesmoke !important;
	border-top: 1px solid silver !important;
	border-bottom: 1px solid silver !important;
}
.dsq-comment-header cite {
	font-variant: small-caps;
	margin-left: 0 !important;
}
.dsq-header-time {
	margin-left: 0 !important;	
}
#dsq-options {
	background: whitesmoke;
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
	padding: 0 0 0 1em;
	margin-top:;
}
#dsq-extra-links {
	padding-left: 0 !important;
}
#dsq-extra-links li img {
	display:  none;
}
/* @end */

/* @group Footer */

#footer {
	margin-top: 3em;
	border-top: 1px solid silver;
	color: grey;
	font-size: 87.5%;
	line-height: 1.3em;
}
#footer address {
	margin: 0;
	text-align: right;
}
#footer a {
	font-variant: small-caps;
	font-style: normal;
	color: #559;
	text-decoration: none;
}
/* @end */

h1 + p:first-letter {
	font-size: 48px;
	padding: 0 0.15em 0 0;
	margin:  0.05em 0 -0.15em 0;
	line-height: 1em;
	float: left;
}
h1 + p:first-line {
	font-variant: small-caps;
	font-size: larger;
}

blockquote {
	margin: 1.72em 1.42em 1.72em 1.42em;
	font-size: 0.875em;
	line-height: 1.29em;
}

/* @group Figures and images */
dl.figure {
	margin-top: 1.5em;
	text-align: center;
}

dl.figure dd {
	color: #333;
	font-size: 0.875em;
	margin: 0.875em auto 0 auto;
	line-height: 1.14em;
	text-align: justify;
	width: 85%;
}
/* @end */

/* @group Equations */
div.maruku-equation { display: block ;text-align: center; }
div.maruku-equation img.maruku-png { position: relative; top: 0.75em;}
span.maruku-inline { }
img.maruku-png { }
/* @end */


