/* @override http://mark.reid.dev/css/screen.css */

/* screen.css
 *
 * A clean, simple stylesheet that aims for
 * a consistent vertical rhythm.
 *
 * Base font height: 16px
 * Base line lenght: 24px
 * 
 */

/* @group Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td,abbr {
	margin:0;
	padding:0;
}
/* @end */

body {
	margin:3em 6em;
	font-family: palatino, georgia, "times new roman", serif;
}

/* IE6 ignores this and uses default size of 16pt */
html>body {
	font-size:16px;
}
p {
	margin:1.5em 0 0 0;
	text-align: justify;
}

a {
	text-decoration: none;
	color: #339;
}
a:hover {
	text-decoration: underline;
	color: #33f;
}
#title {
	float: right;
	height: 100%;
	right: 1em;
	top: 1em;
	font-variant: small-caps;
	line-height: 1.5em;
	text-align: right;
}
#title a { text-decoration: none; }
#title a:hover { text-shadow: 2px ; }
#title .extra {
	display: block;
	color: grey;
	font-size: small;
	text-align: right;
}
#post {
	font-size:1em;
	line-height:1.5em;

	max-width: 550px;
	padding: 0 2em 2em 0;
}
#post address {
	margin-top: 3em;
	text-align: right;
}
#footer {
	color: grey;
}
#footer a {
	color: grey;
	text-decoration: none;
}

div h1 + p:first-letter {
	font-size: 48px;
	padding: 0 0.1em 0 0;
	margin: 0.15em 0 0 0;
	line-height: 0.85em;
	float: left;
}
div h1 + p:first-line {
	font-variant: small-caps;
	font-size: larger;
}

blockquote {
	margin: 1.72em 1.42em 1.72em 1.42em;
	font-size: 0.875em;
	line-height: 1.42em;
}

/* @group Figures and images */
dl.figure {
	margin-top: 1.5em;
	text-align: center;
}

dl.figure dd {
	color: #333;
	font-size: 0.875em;
	margin: 0.875em auto 0 auto;
	line-height: 1.14em;
	text-align: justify;
	width: 85%;
}
/* @end */

/* @group Equations */
/* displayeqN will provide spacing for N times the vertical rhythm */
div.maruku-equation { display: block ;text-align: center; }
div.maruku-equation img.maruku-png { position: relative; top: 0.75em;}
span.maruku-inline { }
img.maruku-png { }
/* @end */

h1, h2, h3, h4 {
	font-family: 'lucida sans', sans-serif;	
}
h1,h2,h3,h4 {
	line-height:1em;
	font-size:1.5em;
	font-weight:normal;
	margin:2em 0 0em 0;
}

hr {
	border-top: 1px solid grey;
	border-bottom: none;
	padding: 0;
	margin: 20px 0 0 0;
}

h2 {
	font-size:1em;
	line-height: 1.5em;
	margin:1.5em 0 0.5em 0;
	font-weight:bold;
}
center {
	margin: 1em 0 1em 0;
}
.banner, #blog-description,abbr {
	display: none;
}

/* @group Lists */
ul {
	margin-top: 1.5em;
	line-height: 1.5em;
	padding-left: 1.5em;
}
li {
	list-style-type: square;
	list-style-position: outside;
}
/* @end */

/* @group Code */
pre {
	line-height: 1.5em;	
	color: #111;
	border-left: 16px solid #ddd;
	border-right: 1px solid #ddd;
	margin: 1.5em 0 1.5em 0;
	padding: 0 0 0 1em;
	overflow: hidden;
}
pre:hover {
	border-right: none;
	overflow: visible;
}
code {
	font-size: 0.9em; /* Hack to make code look same size as body font */  
	line-height: 1.5em;
}
/* @end */


/* @group js-kit */
h2#comments {
	margin-top: 4.5em;
}
div.js-CreateCommentBg {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}
div.js-commentFieldSubject {
		font-family: 'lucida sans', sans-serif;	
	font-size: 100%;
}
div.js-CommentsArea {
	margin-top: 1.5em;
}

div.js-singleComment {
	font-size: 100%;
	border: none;
	margin-bottom: 3em;
	font-family: Palatino, georgia, serif;
}
div.js-singleCommentText {
	padding: 0;
	margin: 0;
}
div.js-singleCommentBg {
	padding: 0;
}
div.js-singleCommentDepth0 {
}
div.js-singleCommentDepth1 {
	margin-left: 0 !important;
}
div.js-singleCommentName {
	text-decoration: none !important;
}
div.js-singleCommentCtls {
	padding: 0;
	line-height: 1.2em;
	color: grey;
	font-size: smaller;
}
div.js-singleCommentCtls a {
	color: grey;
}
div.js-poweredBy {
	display: none;
}
/* @end */

