<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /inductio/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RedirectMatch 301 /inductio/(.*)/(.*)/ http://mark.reid.name/iem/$2.html
RedirectMatch 301 /inductio/ http://mark.reid.name/iem/
</IfModule>
