---
layout: iem
title: Inductio Ex Machina
---

<div id="page">
  <p><i>Inductio Ex Machina</i> is <a href="/">Mark Reid</a>'s research blog on 
	machine learning and statistical inference.
  </p>

  <p>
     You can find out more about it <a href="info.html">here</a> or
     browse through the archives <a href="past.html">here</a>.
	An atom feed for this blog is also <a href="atom.xml">available</a>.
  </p>

  {% for post in site.categories.work limit:5 %}
  <div class="section list">
	<h1>{{ post.date | date_to_string }}</h1>
	<p><a class="title" href="{{ post.url }}">{{ post.title }}</a><br/>
	  <span class="excerpt">{{ post.excerpt }}</span>
	</p>
  </div>
  {% endfor %}

  <p>
  <a href="/work/blog/past.html">Older Posts &rarr;</a>
  </p>
<!--
  <ul class="posts">
    {% for post in site.categories.work %}	  
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a><br/>
	  <span class="excerpt">{{ post.excerpt }}</span>
	  </li>
    {% endfor %}
  </ul>
-->
</div>
  