---
layout: default
top: Inductio Ex Machina
feed: atom.xml
---

<div id="header">
	{% include nav-iem.html %}
</div>

<div id="page">
	
  <h1 class="emphnext">{{ page.title }}</h1>

{{ content }}

  <address class="signature">
    <a class="author" href="http://mark.reid.name">Mark Reid</a> 
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>
</div><!-- End Page -->

<!-- Delicious hits
<script type="text/javascript">
    if (typeof window.Delicious == "undefined") window.Delicious = {};
    Delicious.BLOGBADGE_DEFAULT_CLASS = 'delicious-blogbadge-line';
</script>
<script src="http://static.delicious.com/js/blogbadge.js"></script>
-->


<!-- Discus Comments -->
<div id="disqus_thread"></div>

<!-- Enable Disqus comments -->
<script type="text/javascript">
	var disqus_iframe_css = "http://mark.reid.name/css/screen.css";
	var disqus_title = "{{ page.title }}";
	var disqus_message = "{{ page.excerpt }}";
</script>
<script type="text/javascript" src="http://disqus.com/forums/markreid/embed.js"></script>

<noscript>
		<a href="http://markreid.disqus.com/?url=ref">View the discussion thread.</a>
</noscript>
