---
layout: default
---

<div id="post">

	<div id="header">
	<h1>Inductio Ex Machina</h1>
	<p class="hover">Thoughts on Machine Learning and Inference</p>
	<ul class="nav">
	  <li><a href="/">Home</a></li>
	  <li><a href="/work/blog/info">Info</a></li>
	  <li><a href="/work/blog/past">Past</a></li>
	</ul>
	</div>

<div id="content">
<h1>{{ page.title }}</h1>
{{ content }}
<address>Mark Reid<br/>{{ page.location }}</address>

<h2 id="comments">Comments</h2>
<div class="js-kit-comments" permalink=""></div>
</div>
</div>
<!-- js-kit script for comments -->
<script src="http://js-kit.com/comments.js"></script>
